$danger-color: #eb4d4b;
.sidebar {
  width: 82px;
  height: 100vh;
  position: fixed;
  margin-top: 65px;
  background: var(--main-bg-color);
  box-shadow: rgba(0,0,0,0.12) 0 1px 4px 1px;
  overflow: hidden;
  z-index: 100;
  transition: width .5s;
}

.sidebar:hover {
  width: 350px;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sidebar-nav-item {
  width: 100%;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
  color: var(--main-color);
  text-decoration: none;
  i {
    font-size: 1.5rem;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  div {
    min-width: 82px;
    height: 50px;
    position: relative;
  }
}
.sidebar-nav-link:hover {
  background: var(--second-bg-color);
}
.sidebar-nav-link.active {
  background: var(--second-bg-color);
  color: $danger-color;
   div {
    border-left: 5px solid $danger-color;
  }
  i {
    color: $danger-color;
    margin-left: -5px;
  }
}
.sidebar-expand {
    .sidebar {
      width: 350px;
    }
}
.input-currency{
  width: 42px;
  margin-left: 10px;
  height: 25px;
  font-size: 21px;
  border: 1px solid #212529;
  background: #ccc;
}
.input-del-currency{
  width: 42px;
  margin-left: 13px;
  height: 25px;
  font-size: 21px;
  border: 1px solid #212529;
  background: #ccc;
}
.input-currencyBtn{
  margin-left: 20px;
  padding: 5px 6px;
  margin-right: 10px;
  border: 1px solid $danger-color;
  background: transparent;
  color: $danger-color;
}
.input-currencyBtn:hover{
    color: #6ab04c;
    border: 1px solid #6ab04c;
}
.input-currencyBtn.inBtn{
    padding: 5px 10px;
    color: red;
    border: 1px solid red;
}

